
<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Gallery - Kit</title>

		<!-- Bootstrap -->
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
					
		<!-- Font Awesome CSS -->
		<link href="static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		
		<!-- Simple Line Icons -->
		<link href="static/css/simple-line-icons/simple-line-icons.css" rel="stylesheet">
		
		<!-- google font -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
		
		<!-- owl-carousel -->
		<link href="static/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="static/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
		
		<!-- magnific-popup -->
		<link href="static/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		
		<!-- animate -->
		<link href="static/css/animate/animate.css" rel="stylesheet">
		
		<!-- style -->
		<link href="static/css/style.css" rel="stylesheet">
		
		<!-- switcher -->
		<link href="static/switcher/switcher.css" rel="stylesheet">
		
		<!-- prettify  -->
		<script src="static/css/google-code-prettify/run_prettify.js"></script>		
		<link href="static/css/google-code-prettify/prettify.css" rel="stylesheet">

		
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	
	</head>
	<body class="static-background">
	
	
	
		<!-- Preloader -->
		<div id="preloader">
			<div id="status">&nbsp;</div>
		</div>
		<!-- ./Preloader -->
		
		<!-- pattern -->
		<div id="bg_pattern"></div>
		<!-- ./pattern -->
		
		<!-- scrollToTop -->	
		<a href="#" class="scrollToTop">
			<i class="fa fa-angle-up fa-2x"></i>
		</a>
		<!-- ./scrollToTop -->

		 
		<!-- header -->	
		<header id="header">
			<nav class="navbar navbar-inverse navbar-fixed-top">
			  <div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="index.html">
					<img src="static/img/logo.png" alt="logo">
				  </a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="collapse-navbar">
				 
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="index.html">Homepage</a></li>					
				  </ul>
				</div><!-- /.navbar-collapse -->
			  </div><!-- /.container -->
			</nav>	
		</header>
		<!-- ./header -->	
		
		<!-- gallery -->
		<section id="gallery" class="section">
			<div class="container">	
			
				<div class="section-heading">
					<h2>Gallery</h2>
					<div class="separator"></div>	
				</div>
				
				<div class="row">
										
					<div class="col-md-3 col-sm-6">
						<div class="image-box">
							<a class="popup-link" href="img/img1.jpg">
								<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							</a>
							<div class="caption">
								<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
								<p>description of image</p>
							</div>	
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="image-box">
							<a class="popup-link" href="img/img1.jpg">
								<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							</a>
							<div class="caption">
								<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
								<p>description of image</p>
							</div>	
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="image-box">
							<a class="popup-link" href="img/img1.jpg">
								<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							</a>
							<div class="caption">
								<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
								<p>description of image</p>
							</div>	
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="image-box">
							<a class="popup-link" href="img/img1.jpg">
								<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							</a>
							<div class="caption">
								<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
								<p>description of image</p>
							</div>	
						</div>
					</div>
										
				</div><!-- ./row -->
				
				<div class="row">
										
					<div class="col-md-3 col-sm-6">
						<div class="image-box">
							<a class="popup-link" href="img/img1.jpg">
								<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							</a>
							<div class="caption">
								<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
								<p>description of image</p>								
							</div>	
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="image-box">
							<a class="popup-link" href="img/img1.jpg">
								<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							</a>
							<div class="caption">
								<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
								<p>description of image</p>
							</div>	
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="image-box">
							<a class="popup-link" href="img/img1.jpg">
								<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							</a>
							<div class="caption">
								<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
								<p>description of image</p>
							</div>	
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="image-box">
							<a class="popup-link" href="img/img1.jpg">
								<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							</a>
							<div class="caption">
								<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
								<p>description of image</p>
							</div>	
						</div>
					</div>
										
				</div><!-- ./row -->

					
				<a href="#" class="code animated infinite bounce" data-toggle="modal" data-target="#myModal1">Get the Code!</a>	
			</div>
		</section>
		<!-- ./gallery -->
		
			<!-- section-code -->
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
			  <div class="modal-dialog modal-lg">
				<div class="modal-content">

				  <div class="modal-body">
					<pre class="prettyprint">
						&lt;!-- gallery --&gt;
						&lt;section id="gallery" class="section"&gt;
							&lt;div class="container"&gt;	
							
								&lt;div class="section-heading"&gt;
									&lt;h2&gt;Gallery&lt;/h2&gt;
									&lt;div class="separator"&gt;&lt;/div&gt;	
								&lt;/div&gt;
								
								&lt;div class="row"&gt;
														
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="image-box"&gt;
											&lt;a class="popup-link" href="img/img1.jpg"&gt;
												&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;/a&gt;
											&lt;div class="caption"&gt;
												&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
												&lt;p&gt;description of image&lt;/p&gt;
											&lt;/div&gt;	
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="image-box"&gt;
											&lt;a class="popup-link" href="img/img1.jpg"&gt;
												&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;/a&gt;
											&lt;div class="caption"&gt;
												&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
												&lt;p&gt;description of image&lt;/p&gt;
											&lt;/div&gt;	
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="image-box"&gt;
											&lt;a class="popup-link" href="img/img1.jpg"&gt;
												&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;/a&gt;
											&lt;div class="caption"&gt;
												&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
												&lt;p&gt;description of image&lt;/p&gt;
											&lt;/div&gt;	
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="image-box"&gt;
											&lt;a class="popup-link" href="img/img1.jpg"&gt;
												&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;/a&gt;
											&lt;div class="caption"&gt;
												&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
												&lt;p&gt;description of image&lt;/p&gt;
											&lt;/div&gt;	
										&lt;/div&gt;
									&lt;/div&gt;
														
								&lt;/div&gt;&lt;!-- ./row --&gt;
								
								&lt;div class="row"&gt;
														
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="image-box"&gt;
											&lt;a class="popup-link" href="img/img1.jpg"&gt;
												&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;/a&gt;
											&lt;div class="caption"&gt;
												&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
												&lt;p&gt;description of image&lt;/p&gt;								
											&lt;/div&gt;	
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="image-box"&gt;
											&lt;a class="popup-link" href="img/img1.jpg"&gt;
												&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;/a&gt;
											&lt;div class="caption"&gt;
												&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
												&lt;p&gt;description of image&lt;/p&gt;
											&lt;/div&gt;	
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="image-box"&gt;
											&lt;a class="popup-link" href="img/img1.jpg"&gt;
												&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;/a&gt;
											&lt;div class="caption"&gt;
												&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
												&lt;p&gt;description of image&lt;/p&gt;
											&lt;/div&gt;	
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="image-box"&gt;
											&lt;a class="popup-link" href="img/img1.jpg"&gt;
												&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;/a&gt;
											&lt;div class="caption"&gt;
												&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
												&lt;p&gt;description of image&lt;/p&gt;
											&lt;/div&gt;	
										&lt;/div&gt;
									&lt;/div&gt;
														
								&lt;/div&gt;&lt;!-- ./row --&gt;						
							&lt;/div&gt;
						&lt;/section&gt;
						&lt;!-- ./gallery --&gt;
					</pre>
					
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				  </div>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- ./section-code -->
		
		<!-- portfolio -->
		<section id="portfolio" class="section">
			<div class="container">
			
				<div class="section-heading">
					<h2>filter</h2>
					<div class="separator"></div>	
				</div>
			
				<div class="text-center">
					<ul id="filter">
					  <li class="current"><a href="#">All</a></li>
					  <li><a href="#">Design</a></li>
					  <li><a href="#">Development</a></li>
					  <li><a href="#">CMS</a></li>
					  <li><a href="#">Integration</a></li>
					  <li><a href="#">Wordpress</a></li>
					</ul>
				</div>
				
				<div class="row">
					<ul id="portfolio-filter">	
												  
						   <li class="cms integration">
							<div class="col-sm-6 col-md-3">	
								<div class="image-box">
									<a class="popup-link" href="img/img1.jpg">
										<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									</a>
									<div class="caption">
										<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
										<p>description of image</p>
									</div>	
								</div>
								
							</div> 
						  </li>
										
						  <li class="integration design">
							<div class="col-sm-6 col-md-3">	
								<div class="image-box">
									<a class="popup-link" href="img/img1.jpg">
										<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									</a>
									<div class="caption">
										<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
										<p>description of image</p>
									</div>	
								</div>
							</div>  
						  </li>
						  
						   <li class="cms">
							<div class="col-sm-6 col-md-3">	
								<div class="image-box">
									<a class="popup-link" href="img/img1.jpg">
										<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									</a>
									<div class="caption">
										<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
										<p>description of image</p>
									</div>	
								</div>
							</div>  
						  </li>
						  
						   <li class="design development wordpress">
							<div class="col-sm-6 col-md-3">		
								<div class="image-box">
									<a class="popup-link" href="img/img1.jpg">
										<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									</a>
									<div class="caption">
										<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
										<p>description of image</p>
									</div>	
								</div>
							</div>  
						  </li>
						  
						  <li class="integration design">
							<div class="col-sm-6 col-md-3">	
								<div class="image-box">
									<a class="popup-link" href="img/img1.jpg">
										<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									</a>
									<div class="caption">
										<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
										<p>description of image</p>
									</div>	
								</div>
							</div>  
						  </li>
						  
						   <li class="cms wordpress development">
							<div class="col-sm-6 col-md-3">	
								<div class="image-box">
									<a class="popup-link" href="img/img1.jpg">
										<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									</a>
									<div class="caption">
										<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
										<p>description of image</p>
									</div>	
								</div>
							</div>  
						  </li>
				
							<li class="cms integration">
							<div class="col-sm-6 col-md-3">	
								<div class="image-box">
									<a class="popup-link" href="img/img1.jpg">
										<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									</a>
									<div class="caption">
										<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
										<p>description of image</p>
									</div>	
								</div>
							</div> 
						  </li>
										
						  <li class="integration design">
							<div class="col-sm-6 col-md-3">	
								<div class="image-box">
									<a class="popup-link" href="img/img1.jpg">
										<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									</a>
									<div class="caption">
										<a href="#" data-toggle="modal" data-target="#modal-popup"><h4>image title</h4></a>
										<p>description of image</p>
									</div>	
								</div>
							</div>  
						  </li>
						
					</ul>  
				</div>
				<a href="#" class="code animated infinite bounce" data-toggle="modal" data-target="#myModal2">Get the Code!</a>		
			
			</div><!-- ./container -->				

		</section>
		<!-- ./portfolio -->
		
			<!-- section-code -->
			<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
			  <div class="modal-dialog modal-lg">
				<div class="modal-content">

				  <div class="modal-body">
					<pre class="prettyprint">
						&lt;!-- portfolio --&gt;
						&lt;section id="portfolio" class="section"&gt;
							&lt;div class="container"&gt;
							
								&lt;div class="section-heading"&gt;
									&lt;h2&gt;filter&lt;/h2&gt;
									&lt;div class="separator"&gt;&lt;/div&gt;	
								&lt;/div&gt;
							
								&lt;div class="text-center"&gt;
									&lt;ul id="filter"&gt;
									  &lt;li class="current"&gt;&lt;a href="#"&gt;All&lt;/a&gt;&lt;/li&gt;
									  &lt;li&gt;&lt;a href="#"&gt;Design&lt;/a&gt;&lt;/li&gt;
									  &lt;li&gt;&lt;a href="#"&gt;Development&lt;/a&gt;&lt;/li&gt;
									  &lt;li&gt;&lt;a href="#"&gt;CMS&lt;/a&gt;&lt;/li&gt;
									  &lt;li&gt;&lt;a href="#"&gt;Integration&lt;/a&gt;&lt;/li&gt;
									  &lt;li&gt;&lt;a href="#"&gt;Wordpress&lt;/a&gt;&lt;/li&gt;
									&lt;/ul&gt;
								&lt;/div&gt;
								
								&lt;div class="row"&gt;
									&lt;ul id="portfolio-filter"&gt;	
																  
										   &lt;li class="cms integration"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="image-box"&gt;
													&lt;a class="popup-link" href="img/img1.jpg"&gt;
														&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;/a&gt;
													&lt;div class="caption"&gt;
														&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
														&lt;p&gt;description of image&lt;/p&gt;
													&lt;/div&gt;	
												&lt;/div&gt;
												
											&lt;/div&gt; 
										  &lt;/li&gt;
														
										  &lt;li class="integration design"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="image-box"&gt;
													&lt;a class="popup-link" href="img/img1.jpg"&gt;
														&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;/a&gt;
													&lt;div class="caption"&gt;
														&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
														&lt;p&gt;description of image&lt;/p&gt;
													&lt;/div&gt;	
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
										  
										   &lt;li class="cms"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="image-box"&gt;
													&lt;a class="popup-link" href="img/img1.jpg"&gt;
														&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;/a&gt;
													&lt;div class="caption"&gt;
														&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
														&lt;p&gt;description of image&lt;/p&gt;
													&lt;/div&gt;	
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
										  
										   &lt;li class="design development wordpress"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;		
												&lt;div class="image-box"&gt;
													&lt;a class="popup-link" href="img/img1.jpg"&gt;
														&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;/a&gt;
													&lt;div class="caption"&gt;
														&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
														&lt;p&gt;description of image&lt;/p&gt;
													&lt;/div&gt;	
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
										  
										  &lt;li class="integration design"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="image-box"&gt;
													&lt;a class="popup-link" href="img/img1.jpg"&gt;
														&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;/a&gt;
													&lt;div class="caption"&gt;
														&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
														&lt;p&gt;description of image&lt;/p&gt;
													&lt;/div&gt;	
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
										  
										   &lt;li class="cms wordpress development"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="image-box"&gt;
													&lt;a class="popup-link" href="img/img1.jpg"&gt;
														&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;/a&gt;
													&lt;div class="caption"&gt;
														&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
														&lt;p&gt;description of image&lt;/p&gt;
													&lt;/div&gt;	
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
								
											&lt;li class="cms integration"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="image-box"&gt;
													&lt;a class="popup-link" href="img/img1.jpg"&gt;
														&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;/a&gt;
													&lt;div class="caption"&gt;
														&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
														&lt;p&gt;description of image&lt;/p&gt;
													&lt;/div&gt;	
												&lt;/div&gt;
											&lt;/div&gt; 
										  &lt;/li&gt;
														
										  &lt;li class="integration design"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="image-box"&gt;
													&lt;a class="popup-link" href="img/img1.jpg"&gt;
														&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;/a&gt;
													&lt;div class="caption"&gt;
														&lt;a href="#" data-toggle="modal" data-target="#modal-popup"&gt;&lt;h4&gt;image title&lt;/h4&gt;&lt;/a&gt;
														&lt;p&gt;description of image&lt;/p&gt;
													&lt;/div&gt;	
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
										
									&lt;/ul&gt;  
								&lt;/div&gt;
							
							&lt;/div&gt;&lt;!-- ./container --&gt;				

						&lt;/section&gt;
						&lt;!-- ./portfolio --&gt;
					</pre>
					
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				  </div>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- ./section-code -->	
		
		<!-- gallery -->
		<section id="gallery2" class="section">
			<div class="container">	
			
				<div class="section-heading">
					<h2>hover</h2>
					<div class="separator"></div>	
				</div>
				
				<div class="row">
										
					<div class="col-md-3 col-sm-6">
						<div class="gallery">
							<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							<div class="overlay">								
								<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
								<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="gallery">
							<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							<div class="overlay">								
								<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
								<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="gallery">
							<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							<div class="overlay">								
								<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
								<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="gallery">
							<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							<div class="overlay">								
								<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
								<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					
				</div><!-- ./row -->
				
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="gallery">
							<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							<div class="overlay">								
								<a class="info rounded popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
								<a class="info rounded" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
								<h2>image title</h2>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="gallery">
							<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							<div class="overlay">								
								<a class="info rounded popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
								<a class="info rounded" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
								<h2>image title</h2>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="gallery">
							<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							<div class="overlay">								
								<a class="info rounded popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
								<a class="info rounded" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
								<h2>image title</h2>
							</div>
						</div>
					</div>	
					<div class="col-md-3 col-sm-6">
						<div class="gallery">
							<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
							<div class="overlay">								
								<a class="info rounded popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
								<a class="info rounded" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
								<h2>image title</h2>
							</div>
						</div>
					</div>
					
				</div><!-- ./row -->
					
				<a href="#" class="code animated infinite bounce" data-toggle="modal" data-target="#myModal3">Get the Code!</a>	
			</div>
		</section>
		<!-- ./gallery -->
		
			<!-- section-code -->
			<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
			  <div class="modal-dialog modal-lg">
				<div class="modal-content">

				  <div class="modal-body">
					<pre class="prettyprint">
						&lt;!-- gallery --&gt;
						&lt;section id="gallery" class="section"&gt;
							&lt;div class="container"&gt;	
							
								&lt;div class="section-heading"&gt;
									&lt;h2&gt;hover&lt;/h2&gt;
									&lt;div class="separator"&gt;&lt;/div&gt;	
								&lt;/div&gt;
								
								&lt;div class="row"&gt;
														
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="gallery"&gt;
											&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;div class="overlay"&gt;								
												&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
											&lt;/div&gt;
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="gallery"&gt;
											&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;div class="overlay"&gt;								
												&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
											&lt;/div&gt;
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="gallery"&gt;
											&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;div class="overlay"&gt;								
												&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
											&lt;/div&gt;
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="gallery"&gt;
											&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;div class="overlay"&gt;								
												&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
											&lt;/div&gt;
										&lt;/div&gt;
									&lt;/div&gt;
									
								&lt;/div&gt;&lt;!-- ./row --&gt;
								
								&lt;div class="row"&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="gallery"&gt;
											&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;div class="overlay"&gt;								
												&lt;a class="info rounded popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;a class="info rounded" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;h2&gt;image title&lt;/h2&gt;
											&lt;/div&gt;
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="gallery"&gt;
											&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;div class="overlay"&gt;								
												&lt;a class="info rounded popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;a class="info rounded" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;h2&gt;image title&lt;/h2&gt;
											&lt;/div&gt;
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="gallery"&gt;
											&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;div class="overlay"&gt;								
												&lt;a class="info rounded popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;a class="info rounded" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;h2&gt;image title&lt;/h2&gt;
											&lt;/div&gt;
										&lt;/div&gt;
									&lt;/div&gt;	
									&lt;div class="col-md-3 col-sm-6"&gt;
										&lt;div class="gallery"&gt;
											&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
											&lt;div class="overlay"&gt;								
												&lt;a class="info rounded popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;a class="info rounded" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
												&lt;h2&gt;image title&lt;/h2&gt;
											&lt;/div&gt;
										&lt;/div&gt;
									&lt;/div&gt;
									
								&lt;/div&gt;&lt;!-- ./row --&gt;
									
							&lt;/div&gt;
						&lt;/section&gt;
						&lt;!-- ./gallery --&gt;
					</pre>
					
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				  </div>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- ./section-code -->
		
		
		
		<!-- portfolio2 -->
		<section id="portfolio2" class="section">
			<div class="container">
			
				<div class="section-heading">
					<h2>hover w/ filter </h2>
					<div class="separator"></div>	
				</div>
			
				<div class="text-center padd-tb-10">
					<ul id="filter">
					  <li class="current"><a href="#">All</a></li>
					  <li><a href="#">Design</a></li>
					  <li><a href="#">Development</a></li>
					  <li><a href="#">CMS</a></li>
					  <li><a href="#">Integration</a></li>
					  <li><a href="#">Wordpress</a></li>
					</ul>
				</div>
				
				<div class="row">
					<ul id="portfolio-filter">	
												  
						   <li class="cms integration">
							<div class="col-sm-6 col-md-3">	
								<div class="gallery">
									<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									<div class="overlay">								
										<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
										<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
									</div>
								</div>
								
							</div> 
						  </li>
										
						  <li class="integration design">
							<div class="col-sm-6 col-md-3">	
								<div class="gallery">
									<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									<div class="overlay">								
										<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
										<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>  
						  </li>
						  
						   <li class="cms">
							<div class="col-sm-6 col-md-3">	
								<div class="gallery">
									<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									<div class="overlay">								
										<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
										<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>  
						  </li>
						  
						   <li class="design development wordpress">
							<div class="col-sm-6 col-md-3">		
								<div class="gallery">
									<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									<div class="overlay">								
										<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
										<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>  
						  </li>
						  
						  <li class="integration design">
							<div class="col-sm-6 col-md-3">	
								<div class="gallery">
									<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									<div class="overlay">								
										<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
										<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
										<h2>image title</h2>
									</div>
								</div>
							</div>  
						  </li>
						  
						   <li class="cms wordpress development">
							<div class="col-sm-6 col-md-3">	
								<div class="gallery">
									<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									<div class="overlay">								
										<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
										<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
										<h2>image title</h2>
									</div>
								</div>
							</div>  
						  </li>
				
							<li class="cms integration">
							<div class="col-sm-6 col-md-3">	
								<div class="gallery">
									<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									<div class="overlay">								
										<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
										<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
										<h2>image title</h2>
									</div>
								</div>
							</div> 
						  </li>
										
						  <li class="integration design">
							<div class="col-sm-6 col-md-3">	
								<div class="gallery">
									<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive"></figure>
									<div class="overlay">								
										<a class="info circle popup-link" href="img/img1.jpg"><i class="fa fa-search"></i></a>
										<a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"><i class="fa fa-link"></i></a>
										<h2>image title</h2>
									</div>
								</div>
							</div>  
						  </li>
						
					</ul>  
				</div>
				<a href="#" class="code animated infinite bounce" data-toggle="modal" data-target="#myModal4">Get the Code!</a>		
			
			</div><!-- ./container -->				

		</section>
		<!-- ./portfolio2 -->
		
			<!-- section-code -->
			<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
			  <div class="modal-dialog modal-lg">
				<div class="modal-content">

				  <div class="modal-body">
					<pre class="prettyprint">
						&lt;!-- portfolio2 --&gt;
						&lt;section id="portfolio" class="section"&gt;
							&lt;div class="container"&gt;
							
								&lt;div class="section-heading"&gt;
									&lt;h2&gt;hover w/ filter &lt;/h2&gt;
									&lt;div class="separator"&gt;&lt;/div&gt;	
								&lt;/div&gt;
							
								&lt;div class="text-center padd-tb-10"&gt;
									&lt;ul id="filter"&gt;
									  &lt;li class="current"&gt;&lt;a href="#"&gt;All&lt;/a&gt;&lt;/li&gt;
									  &lt;li&gt;&lt;a href="#"&gt;Design&lt;/a&gt;&lt;/li&gt;
									  &lt;li&gt;&lt;a href="#"&gt;Development&lt;/a&gt;&lt;/li&gt;
									  &lt;li&gt;&lt;a href="#"&gt;CMS&lt;/a&gt;&lt;/li&gt;
									  &lt;li&gt;&lt;a href="#"&gt;Integration&lt;/a&gt;&lt;/li&gt;
									  &lt;li&gt;&lt;a href="#"&gt;Wordpress&lt;/a&gt;&lt;/li&gt;
									&lt;/ul&gt;
								&lt;/div&gt;
								
								&lt;div class="row"&gt;
									&lt;ul id="portfolio-filter"&gt;	
																  
										   &lt;li class="cms integration"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="gallery"&gt;
													&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;div class="overlay"&gt;								
														&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
													&lt;/div&gt;
												&lt;/div&gt;
												
											&lt;/div&gt; 
										  &lt;/li&gt;
														
										  &lt;li class="integration design"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="gallery"&gt;
													&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;div class="overlay"&gt;								
														&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
													&lt;/div&gt;
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
										  
										   &lt;li class="cms"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="gallery"&gt;
													&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;div class="overlay"&gt;								
														&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
													&lt;/div&gt;
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
										  
										   &lt;li class="design development wordpress"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;		
												&lt;div class="gallery"&gt;
													&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;div class="overlay"&gt;								
														&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
													&lt;/div&gt;
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
										  
										  &lt;li class="integration design"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="gallery"&gt;
													&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;div class="overlay"&gt;								
														&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;h2&gt;image title&lt;/h2&gt;
													&lt;/div&gt;
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
										  
										   &lt;li class="cms wordpress development"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="gallery"&gt;
													&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;div class="overlay"&gt;								
														&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;h2&gt;image title&lt;/h2&gt;
													&lt;/div&gt;
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
								
											&lt;li class="cms integration"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="gallery"&gt;
													&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;div class="overlay"&gt;								
														&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;h2&gt;image title&lt;/h2&gt;
													&lt;/div&gt;
												&lt;/div&gt;
											&lt;/div&gt; 
										  &lt;/li&gt;
														
										  &lt;li class="integration design"&gt;
											&lt;div class="col-sm-6 col-md-3"&gt;	
												&lt;div class="gallery"&gt;
													&lt;figure&gt;&lt;img src="static/img/img1.jpg" alt="image" class="img-responsive"&gt;&lt;/figure&gt;
													&lt;div class="overlay"&gt;								
														&lt;a class="info circle popup-link" href="img/img1.jpg"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;a class="info circle" data-toggle="modal" data-target="#modal-popup" href="img/img1.jpg"&gt;&lt;i class="fa fa-link"&gt;&lt;/i&gt;&lt;/a&gt;
														&lt;h2&gt;image title&lt;/h2&gt;
													&lt;/div&gt;
												&lt;/div&gt;
											&lt;/div&gt;  
										  &lt;/li&gt;
										
									&lt;/ul&gt;  
								&lt;/div&gt;						
							&lt;/div&gt;&lt;!-- ./container --&gt;				

						&lt;/section&gt;
						&lt;!-- ./portfolio2 --&gt;
					</pre>
					
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				  </div>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- ./section-code -->
		
	

		<!-- ==================================================== 
			please use different id for every gallery items each
		=========================================================  -->
		<div class="modal fade modal-theme" id="modal-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Image Title</h4>
			  </div>
			  <div class="modal-body">
				<figure><img src="static/img/img1.jpg" alt="image" class="img-responsive text-center"></figure>
				<h4>Description</h4>
				<p>Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. Praesent vel enim tincidunt, euismod urna vitae, ullamcorper felis. Morbi interdum, ex ut ornare aliquam, sapien tellus commodo neque, in convallis diam mi ut leo. Praesent id lectus porta, ultrices arcu quis, auctor orci. Mauris eget pharetra leo. Quisque eu sapien tortor. Pellentesque fringilla porta lectus, eu sollicitudin est imperdiet ut. Suspendisse at tortor sit amet turpis semper cursus. Aenean tortor est, blandit id turpis vel, placerat dictum risus.</p>			
				<a href="#">Sample Link</a>
			 </div>
			</div>
		  </div>
		</div>
		<!-- ./ modal-theme -->
		
		
		<!-- Styles Switcher -->
		<div id="style-switcher">
			<h2>Demo Pages<a href="#"><i class="fa fa-cog animated infinite swing"></i></a></h2>
			
			<div>
				
				<h3>Pages </h3>
				 <ul class="">
					<li><a href="nav.html">Toggle Menu</a></li>
					<li><a href="default.html">Default Page</a></li>
					<li><a href="sidebar-menu.html">Sidebar Menu</a></li>
					<li><a href="coming-soon.html">Coming Soon</a></li>
					<li><a href="blog-single.html">Blog Page</a></li>					
				</ul>
				<h3>Background </h3>
				 <ul class="">
					<li><a href="static-background.html">Static </a></li>
					<li><a href="slider-background.html">Slider </a></li>
					<li><a href="video-background.html">Video </a></li>
					<li><a href="solid-section.html">Solid Section</a></li>
				</ul>
				<h3>Banner / Hero </h3>
				 <ul class="">
					<li><a href="static-banner.html">Static Banner</a></li>
					<li><a href="slider-banner.html">Slider Banner</a></li>
					<li><a href="typed-banner.html">Typed Banner</a></li>
					<li><a href="app-banner.html">App Banner</a></li>
					<li><a href="landing-banner.html">Landing Banner</a></li>
				</ul>
				<h3>Kit </h3>
				 <ul class="">
					<li><a href="banner.html">Banner Kit</a></li>
					<li><a href="services.html">Services Kit</a></li>
					<li><a href="gallery.html">Gallery Kit</a></li>
					<li><a href="team.html">Team Kit</a></li>
					<li><a href="blog.html">Blog / News Kit</a></li>
					<li><a href="testimonials.html">Testimonial Kit</a></li>
					<li><a href="pricing.html">Pricing Kit</a></li>
					<li><a href="components.html">Components</a></li>
				</ul>
					
			</div>
			
		</div>
		<!-- ./Styles Switcher -->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->		
		<script src="static/js/jquery-1.11.3.min.js"></script>	
		<script src="static/js/bootstrap.min.js"></script>
		
		<!-- smooth-scroll -->
		<script src="static/plugins/smooth-scroll/smooth-scroll.js"></script>
		
		<!-- backstretch -->
		<script src="static/plugins/backstretch/backstretch.min.js"></script>
		
		<!-- owl-carousel -->
		<script src="static/plugins/owl-carousel/owl.carousel.js"></script>
		
		<!-- wow -->
		<script src="static/plugins/wow/wow.js"></script>
		
		<!-- typed -->
		<script src="static/plugins/typed/typed.min.js"></script>
						
		<!-- magnific-popup -->
		<script src="static/plugins/magnific-popup/jquery.magnific-popup.js"></script>
		
		<!-- jqBootstrapValidation -->
		<script src="static/plugins/jqBootstrapValidation/jqBootstrapValidation.js"></script>
		
		<!-- switcher -->
		<script type="text/javascript" src="static/switcher/switcher.js"></script> 
					
		<!-- main js -->
		<script src="static/js/main.js"></script>
		
	</body>
</html>