<!-- footer -->
<footer id="footer">
    <div class="container-fluid">
        <ul class="list-inline">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google"></i></a></li>
        </ul>
        <div class="copyright">
            &copy; 2017 Tom Tom | Reverse Auction Platform</a>
        </div>
    </div>
</footer>
<!-- ./footer -->
