<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- ./Preloader -->

<!-- pattern -->
<div id="bg_pattern"></div>
<!-- ./pattern -->

<!-- scrollToTop -->
<a href="#" class="scrollToTop"> <i class="fa fa-angle-up fa-2x"></i></a>
<!-- ./scrollToTop -->


<!-- sidebar -->
<nav class="sidebar">
    <a class="logo" href="/"> <img src="static/des/img/logo.png"
        alt="" style="width: 160px;">
    </a> <a href="#" class="menu-toggle"><i class="fa fa-navicon"></i></a>

    <ul class="menu">
        <li>
            <a data-scroll href="" data-toggle="modal" data-target="#register">회원가입</a>
        </li>

        <% if(nickname){ %>
        <li><%= nickname %>님 환영합니다!</li>
            <li><a href='/auth/logout'>로그아웃</a></li>
        <% }else{ %>
        <li>
            <a data-scroll href="" data-toggle="modal" data-target="#login">로그인</a>
        </li>
        <% } %>
        <li><a href="/myPage">마이페이지</a></li>
        <li><a href="/recoPage">요금제 추천페이지</a></li>
        <li><a data-scroll href="#findCost">요금제찾기/구매하기</a></li>
        <li><a data-scroll href="#findCost">판매자등록/판매하기</a></li>
        <li><a data-scroll href="">판매자페이지</a></li>
        <li><a data-scroll href="#team">개발 팀</a></li>
        <li><a data-scroll href="#contact">Contact</a></li>
        <li><a href="https://www.messenger.com/t/731585810353330" target="popup" onclick="window.open('https://www.messenger.com/t/731585810353330','popup','width=800,height=700'); return false;">탐탐봇</a></li>
    </ul>
</nav>
<!-- ./sidebar -->


<!-- 로그인Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="login">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">로그인</h4>
            </div>
            <div class="modal-body">
                <form class="" action="/auth/login" method="post">
                    <p>
                        <input type="text" class="form-control" name="username" value="" placeholder="이메일">
                    </p>
                    <p>
                        <input type="password" class="form-control" name="password" value="" placeholder="비밀번호">
                    </p>
                    <p><input class="btn btn-default btn-lg" type="submit" name="" value="제출"></p>
                </form>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary">로그인</button>
            </div>-->
        </div>
    </div>
</div>

<!-- 회원가입 모달-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="register">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">회원가입</h4>
            </div>
            <div class="modal-body">
                <form class="" action="/auth/register" method="post">
                    <p>
                        <input type="text" class="form-control" name="username" placeholder="이메일">
                    </p>
                    <p>
                        <input type="password" class="form-control" name="password" placeholder="비밀번호">
                    </p>
                    <p>
                        <input type="text" class="form-control" name="realname" placeholder="이름">
                    </p>
                    <p>
                        <input type="text" class="form-control" name="nickname" placeholder="닉네임">
                    </p>
                    <p>
                        <input type="text" class="form-control" name="phone" placeholder="연락처">
                    </p>
                    <p><input class="btn btn-default btn-lg" type="submit" name="" value="제출"></p>
                </form>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" id="rgBtn">회원가입</button>
            </div>-->
        </div>
    </div>
</div>
