
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                HOME
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/recoFee">요금제 추천</a></li>
            <li><a href="/recoPhone">단말기 추천</a></li>
            <li><a href="/reverseAuction">역경매</a></li>
            <li><a href="/chat">Chatbot</a></li>
            <li><a href="/myPage">마이페이지</a></li>
        </ul>


    </div>
</nav>
