<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <form class="" action="/form_receiver" method="post">
      <p>글 제목</p>
      <input type="text" name="title" value="">
      <p>글 내용</p>
      <textarea name="description" rows="8" cols="80"></textarea>
      <input type="submit">
    </form>
  </body>
</html>
