<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <%if (displayName) {%>
        <%=displayName%>
        <a href='/auth/logout'>logout</a>
    <%}else{%>
        welcome, 로그인 하세요
        <a href='/auth/login/'>로그인</a>
        <a href='/auth/register/'>회원가입</a>
    <%}%>

    <header>
        <% include partials/header %>
    </header>



    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
