<h1>로그인</h1>
<form class="" action="/auth/login" method="post">
    <p>
        <input type="text" name="username" value="" placeholder="이메일">
    </p>
    <p>
        <input type="password" name="password" value="" placeholder="비밀번호">
    </p>
    <p><input type="submit" name="" value="제출"></p>
</form>

<p>
    <a href="/">처음으로</a>
</p>
