<!DOCTYPE html>
<html lang="ko">

<head>
    <% include partials/head.ejs %>
        <style>
            input[type="submit"] {
                color: black;
            }

            h4#myModalLabel {
                color: black;
            }

            .form-control {
                background-color: rgba(202, 193, 193, 0.5);
            }

            .right-content .section {
                padding: 100px 0 0px;
            }

            .fixed-table-body {
                overflow-x: auto;
                height: 500px;
                border: solid 5px white;
                border-radius: 10px;
            }


            .row1 input {
                color: black;
            }

            .btn1 {
                margin: 0 0 0 0;
                vertical-align: middle;
                padding-top: 0;
                padding-bottom: 0;
            }

            td,
            th,
            table {
                text-align: center;
            }
        </style>


</head>

<body class="slider-background">

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- ./Preloader -->

    <!-- pattern -->
    <div id="bg_pattern"></div>
    <!-- ./pattern -->


    <!-- scrollToTop -->
    <a href="#" class="scrollToTop"> <i class="fa fa-angle-up fa-2x"></i></a>
    <!-- ./scrollToTop -->


    <!-- sidebar -->
    <nav class="sidebar">
        <a class="logo" href="/"> <img src="static/des/img/logo.png"
			alt="" style="width: 160px;">
		</a> <a href="#" class="menu-toggle"><i class="fa fa-navicon"></i></a>

        <ul class="menu">
            <li><a data-scroll href="" data-toggle="modal" data-target="#register">회원가입</a></li>
            <% if(nickname){ %>
                <li>
                    <%= nickname %>님 환영합니다!</li>
                <li><a href='/auth/logout'>로그아웃</a></li>
                <% }else{ %>
                    <li><a data-scroll href="" data-toggle="modal" data-target="#login">로그인</a></li>
                    <% } %>
                        <li><a href="/myPage">마이페이지</a></li>
                        <li><a href="/recoPage">요금제 추천페이지</a></li>
                        <li><a data-scroll href="#findCost">요금제찾기/구매하기</a></li>
                        <li><a data-scroll href="#findCost">판매자등록/판매하기</a></li>
                        <li><a data-scroll href="">판매자페이지</a></li>
                        <li><a data-scroll href="#team">개발 팀</a></li>
                        <li><a data-scroll href="#contact">Contact</a></li>
                        <li><a href="https://www.messenger.com/t/731585810353330" target="popup" onclick="window.open('https://www.messenger.com/t/731585810353330','popup','width=900,height=600'); return false;">탐탐봇</a></li>
        </ul>
    </nav>
    <!-- ./sidebar -->


    <!-- 로그인Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="login">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                    <h4 class="modal-title" id="myModalLabel">로그인</h4>
                </div>
                <div class="modal-body">
                    <form class="" action="/auth/login" method="post">
                        <p>
                            <input type="text" class="form-control" name="username" value="" placeholder="이메일">
                        </p>
                        <p>
                            <input type="password" class="form-control" name="password" value="" placeholder="비밀번호">
                        </p>
                        <p>
                            <input class="btn btn-default btn-lg" type="submit" name="" value="제출">
                        </p>
                    </form>
                </div>
                <!--<div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
	                <button type="button" class="btn btn-primary">로그인</button>
	            </div>-->
            </div>
        </div>
    </div>

    <!-- 회원가입 모달-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="register">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                    <h4 class="modal-title" id="myModalLabel">회원가입</h4>
                </div>
                <div class="modal-body">
                    <form class="" action="/auth/register" method="post">
                        <p>
                            <input type="text" class="form-control" name="username" placeholder="이메일">
                        </p>
                        <p>
                            <input type="password" class="form-control" name="password" placeholder="비밀번호">
                        </p>
                        <p>
                            <input type="text" class="form-control" name="realname" placeholder="이름">
                        </p>
                        <p>
                            <input type="text" class="form-control" name="nickname" placeholder="닉네임">
                        </p>
                        <p>
                            <input type="text" class="form-control" name="phone" placeholder="연락처">
                        </p>
                        <p>
                            <input class="btn btn-default btn-lg" type="submit" name="" value="제출">
                        </p>
                    </form>
                </div>
                <!--<div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
	                <button type="button" class="btn btn-primary" id="rgBtn">회원가입</button>-->
            </div>
        </div>
    </div>



    <!-- right-content -->
    <div class="right-content">

        <!-- section -->
        <section class="section">
            <div class="container">
                <div class="section-heading">
                    <h2>나의 거래 확인하기</h2>
                    <div class="separator"></div>
                </div>
            </div>
            <!-- ./container -->

        </section>
        <!-- ./section -->
        <!-- section -->
        <section class="section">
            <div class="container">

                <div class="row ">
                    <!-- <label>단말기 정보</label> -->

                    <div class="fixed-table-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">등록일</th>
                                    <th scope="col">요금제</th>
                                    <th scope="col">경매시작일</th>
                                    <th scope="col">경매마감일</th>
                                    <th scope="col">경매진행상태</th>
                                    <th scope="col">보기</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>17-06-05</td>
                                    <td>데이터 선택 69.8</td>
                                    <td>17-06-30</td>
                                    <td>17-06-31</td>
                                    <td>거래대기중</td>
                                    <td><input type="button" value="보기" class="btn btn-dark btn1" onClick="goTrade()"></td>
                                </tr>
                                <tr>
                                    <td>17-06-06</td>
                                    <td>데이터 선택 69.8</td>
                                    <td>17-06-08</td>
                                    <td>17-06-10</td>
                                    <td>거래진행중</td>
                                    <td><input type="button" value="보기" class="btn btn-dark btn1" onClick="goTrade()"></td>
                                </tr>
                                <tr>
                                    <td>17-06-06</td>
                                    <td>데이터 선택 69.8</td>
                                    <td>17-06-08</td>
                                    <td>17-06-09</td>
                                    <td>선택대기중</td>
                                    <td><input type="button" value="보기" class="btn btn-dark btn1" onClick="goTrade()"></td>
                                </tr>
                                <tr>
                                    <td>17-06-06</td>
                                    <td>데이터 선택 69.8</td>
                                    <td>17-06-07</td>
                                    <td>17-06-08</td>
                                    <td>거래중</td>
                                    <td><input type="button" value="보기" class="btn btn-dark btn1" onClick="함수('게시물코드')"></td>
                                </tr>
                                <tr>
                                    <td>17-06-05</td>
                                    <td>데이터 선택 69.8</td>
                                    <td>17-06-13</td>
                                    <td>17-06-15</td>
                                    <td>거래완료</td>
                                    <td><input type="button" value="보기" class="btn btn-dark btn1" onClick="함수('게시물코드')"></td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </section>
        <!-- ./section -->
        <!-- footer -->
        <% include partials/footer.ejs %>
            <!-- ./footer -->

    </div>
    <!-- ./right-content -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/des/js/jquery-1.11.3.min.js"></script>
    <script src="static/des/js/bootstrap.min.js"></script>

    <!-- smooth-scroll -->
    <script src="static/des/plugins/smooth-scroll/smooth-scroll.js"></script>

    <!-- backstretch -->
    <script src="static/des/plugins/backstretch/backstretch.min.js"></script>

    <!-- owl-carousel -->
    <script src="static/des/plugins/owl-carousel/owl.carousel.js"></script>

    <!-- wow -->
    <script src="static/des/plugins/wow/wow.js"></script>

    <!-- typed -->
    <script src="static/des/plugins/typed/typed.min.js"></script>

    <!-- magnific-popup -->
    <script src="static/des/plugins/magnific-popup/jquery.magnific-popup.js"></script>

    <!-- jqBootstrapValidation -->
    <script src="static/des/plugins/jqBootstrapValidation/jqBootstrapValidation.js"></script>

    <!-- switcher -->
    <script type="text/javascript" src="static/des/switcher/switcher.js"></script>

    <!-- main js -->
    <script src="static/des/js/main.js"></script>

    <script>
        function goTrade(){
            window.location.href = '/tradeDetail'
        }

    </script>

</body>
</html>
