<!DOCTYPE html>
<html lang="ko">

<head>
    <% include partials/head.ejs %>
        <style>
            input[type="submit"] {
                color: black;
            }

            h4#myModalLabel {
                color: black;
            }

            .form-control {
                background-color: rgba(202, 193, 193, 0.5);
            }

            .right-content .section {
                padding: 100px 0 0px;
            }

            .fixed-table-body {
                overflow-x: auto;
                height: 500px;
                border: solid 5px white;
                border-radius: 10px;
            }


            .row1 input {
                color: black;
            }

            .btn1 {
                margin: 0 0 0 0;
                vertical-align: middle;
                padding-top: 0;
                padding-bottom: 0;
            }

            td,
            th,
            table {
                text-align: center;
            }
        </style>


</head>

<body class="slider-background">

    <% include partials/header.ejs %>

    <!-- right-content -->
    <div class="right-content">

        <!-- section -->
        <section class="section">
            <div class="container">
                <div class="section-heading">
                    <h2>나의 거래 확인하기</h2>
                    <div class="separator"></div>
                </div>
            </div>
            <!-- ./container -->

        </section>
        <!-- ./section -->
        <!-- section -->
        <section class="section">
            <div class="container">

                <div class="row ">
                    <!-- <label>단말기 정보</label> -->

                    <div class="fixed-table-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">등록일</th>
                                    <th scope="col">요금제</th>
                                    <th scope="col">경매시작일</th>
                                    <th scope="col">경매마감일</th>
                                    <th scope="col">경매진행상태</th>
                                    <th scope="col">보기</th>
                                </tr>
                            </thead>
                            <tbody id="myBody">
                                <tr>
                                    <td>17-06-05</td>
                                    <td>데이터 선택 69.8</td>
                                    <td>17-06-30</td>
                                    <td>17-06-31</td>
                                    <td>거래대기중</td>
                                    <td><input type="button" value="보기" class="btn btn-dark btn1" onClick="goTrade()"></td>
                                </tr>
                                




                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </section>
        <!-- ./section -->
        <!-- footer -->
        <% include partials/footer.ejs %>
            <!-- ./footer -->

    </div>
    <!-- ./right-content -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/des/js/jquery-1.11.3.min.js"></script>
    <script src="static/des/js/bootstrap.min.js"></script>

    <!-- smooth-scroll -->
    <script src="static/des/plugins/smooth-scroll/smooth-scroll.js"></script>

    <!-- backstretch -->
    <script src="static/des/plugins/backstretch/backstretch.min.js"></script>

    <!-- owl-carousel -->
    <script src="static/des/plugins/owl-carousel/owl.carousel.js"></script>

    <!-- wow -->
    <script src="static/des/plugins/wow/wow.js"></script>

    <!-- typed -->
    <script src="static/des/plugins/typed/typed.min.js"></script>

    <!-- magnific-popup -->
    <script src="static/des/plugins/magnific-popup/jquery.magnific-popup.js"></script>

    <!-- jqBootstrapValidation -->
    <script src="static/des/plugins/jqBootstrapValidation/jqBootstrapValidation.js"></script>

    <!-- switcher -->
    <script type="text/javascript" src="static/des/switcher/switcher.js"></script>

    <!-- main js -->
    <script src="static/des/js/main.js"></script>

    <script>
        $(function(){
            $.ajax({
				type: "GET",
			    url: "/myTrade",
			    dataType: "json",
			    cache:false,
			    success: function (data) {
					console.log(data);
					$('#myBody').empty();
					let str = '';
					for(let i in data){
                        str += '<tr>'
                        str += '<td>'+data[i].trdate+'</td>'
                        str += '<td>'+data[i].coname+'</td>'
                        str += '<td>'+data[i].opdate+'</td>'
                        str += '<td>'+data[i].eddate+'</td>'
                        if(data[i]==0){
                            str += '<td>진행중</td>'
                        }else{
                            str += '<td>거래완료</td>'
                        }
                        str += '<td>'
                        str += '<a href="/tradeDetail'+data[i].trcode+'">보기</a>'
                        str += '</td>'
						str += '<tr>'
					}
					$(str).appendTo('#myBody')
				}
			})
        })
    </script>

</body>
</html>
