<!DOCTYPE html>
<html lang="ko">

<head>
<% include partials/head.ejs %>
<style>
input[type="submit"] {
	color: black;
}

h4#myModalLabel {
	color: black;
}

.form-control {
	background-color: rgba(202, 193, 193, 0.5);
}

.right-content .section {
	padding: 100px 0 0px;
}

.fixed-table-body {
	overflow-x: auto;
	height:250px;
	border: solid 5px white;
    border-radius: 10px;
}

.container_border {
    border: solid 5px white;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background: #3a3838;
}

.row1 input{
	color:black;
}
</style>


<!-- datepicker -->
<link rel="stylesheet" type="text/css"
	href="static/datetimepicker/build/jquery.datetimepicker.css" />
<style type="text/css">
.custom-date-style {
	background-color: red !important;
}

.input {

}

.input-wide {
	width: 500px;
}

</style>

</head>

<body class="slider-background">

	<% include partials/header.ejs %>

	<!-- right-content -->
	<div class="right-content">

		<!-- section -->
		<section class="section">
			<div class="container">
				<div class="section-heading">
					<h2>요금제 분석 결과</h2>
					<div class="separator"></div>
				</div>
			</div>
			<!-- ./container -->

		</section>
		<!-- ./section -->
		<!-- section -->
		<section class="section">
			<div class="container container_border">
				<div class="row">
					<div class="col-md-4">
						<label for="Co_select1">유사 유저기반 추천</label>
						<select class="form-control" id="Co_select1">
							<option value=""></option>
						</select>
					</div>
					<div class="col-md-4">
						<label for="Co_select2">기본요금제 추천</label>
						<select class="form-control" id="Co_select2">
						<% for (let cost in basicReco) {%>
							<option value=""><%=basicReco[cost]%></option>
						<%}%>
						</select>
					</div>
					<div class="col-md-4">
						<label for="Co_select3">기본+데이터안심 조합 추천</label>
						<button id="co3">조합 데이터 가져오기</button>
						<select class="form-control" id="Co_select3"></select>
					</div>
				</div>
				<div class="row"></div>
				<div class="row">
					<div class="col-md-6">
						<label for="Di_select1">가족할인 추천</label>
						<button id="di1">가족할인 가져오기</button>
						<select class="form-control" id="Di_select1"></select>
					</div>
					<div class="col-md-6">
						<label for="Di_select2">장기할인 추천</label>
						<button id="di2">가족할인 가져오기</button>
						<select class="form-control" id="Di_select2"></select>
					</div>
				</div>

				<div class="row ">
					<label>단말기 정보</label>
					<p>애플사 단말기의 경우 통신사가 지원하지않거나 통신사마다 단말기 가격이 달라질 수 있습니다.</p>
					<button type="button" name="button" id="di3"></button>
					<div class="fixed-table-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th scope="col">선 택 </th>
									<th scope="col">단말기 이름</th>
									<th scope="col">용량</th>
									<th scope="col">제조사</th>
									<th scope="col">단말기 가격</th>
									<th scope="col">공시지원금</th>
								</tr>
							</thead>
							<tbody id="Di_select3">

							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<p>
					<textarea name="name" rows="4" cols="80" placeholder="고객님의 요구사항을 적어주세요"></textarea>
					</p>
				</div>
				<div class="row row1">
					<div class="col-md-3">
						<label>단말할인 선택 </label><br />
						<input type="text"id="result1" readonly/>
					</div>
					<div class="col-md-3">
						<label>24개월 약정할인 선택시 </label><br />
						<input type="text"id="result2" readonly/>
					</div>

					<div class="col-md-3">
						<label>경매시작일</label><br /> <input type="text" class="some_class"
							value="" id="start_date" />
					</div>
					<div class="col-md-3">
						<label>경매마감일</label><br /> <input type="text" class="some_class"
							value="" id="end_date" />
					</div>
				</div>


				<div class="row">
					<div class="col-md-1 col-md-offset-11">
						<input class="btn btn-default" type="submit" name="" value="제안받기">
					</div>
				</div>
			</div>
		</section>
		<!-- ./section -->
		<!-- footer -->
		<% include partials/footer.ejs %>
		<!-- ./footer -->

	</div>
	<!-- ./right-content -->



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="static/des/js/jquery-1.11.3.min.js"></script>
	<script src="static/des/js/bootstrap.min.js"></script>

	<!-- smooth-scroll -->
	<script src="static/des/plugins/smooth-scroll/smooth-scroll.js"></script>

	<!-- backstretch -->
	<script src="static/des/plugins/backstretch/backstretch.min.js"></script>

	<!-- owl-carousel -->
	<script src="static/des/plugins/owl-carousel/owl.carousel.js"></script>

	<!-- wow -->
	<script src="static/des/plugins/wow/wow.js"></script>

	<!-- typed -->
	<script src="static/des/plugins/typed/typed.min.js"></script>

	<!-- magnific-popup -->
	<script
		src="static/des/plugins/magnific-popup/jquery.magnific-popup.js"></script>

	<!-- jqBootstrapValidation -->
	<script
		src="static/des/plugins/jqBootstrapValidation/jqBootstrapValidation.js"></script>

	<!-- switcher -->
	<script type="text/javascript" src="static/des/switcher/switcher.js"></script>

	<!-- main js -->
	<script src="static/des/js/main.js"></script>

	<!-- datepickier -->
	<script src="static/datetimepicker/build/jquery.datetimepicker.full.js"></script>
	<script>
		$('.some_class').datetimepicker();
	</script>
	<script>
		// 기존+데이터 안심
		$('#co3').on('click', function(){
			$.ajax({
				type: "GET",
			    url: "/addOption",
			    dataType: "json",
			    cache:false,
			    success: function (data) {
					console.log(data);
					$('#Co_select3').empty();
					let str = '';
					str += '<option>선택</option>'
					for(let i in data){
						str += '<option>'+(parseInt(i)+1)+'. '+data[i].spName+' '+data[i].coName+'</option>'
					}
					$(str).appendTo('#Co_select3')
				}
			})
		})
		// 가족할인
		$('#di1').on('click', function(){
			$.ajax({
				type: "GET",
			    url: "/familyDc",
			    dataType: "json",
			    cache:false,
			    success: function (data) {
					console.log(data);
					$('#Di_select1').empty();
					let str = '';
					str += '<option>선택</option>'
					for(let i in data){
						str += '<option>'+(parseInt(i)+1)+'. '+data[i].diName+' '+data[i].content+'</option>'
					}
					$(str).appendTo('#Di_select1')
				}
			})
		})
		// 장기할인
		$('#di2').on('click', function(){
			$.ajax({
				type: "GET",
			    url: "/longUseDc",
			    dataType: "json",
			    cache:false,
			    success: function (data) {
					console.log(data);
					$('#Di_select2').empty();
					let str = '';
					str += '<option>선택</option>'
					for(let i in data){
						str += '<option>'+(parseInt(i)+1)+'. '+data[i].diName+' '+data[i].content+'</option>'
					}
					$(str).appendTo('#Di_select2')
				}
			})
		})
		// 단말기 정보
		$('#di3').on('click', function(){
			$.ajax({
				type: "GET",
			    url: "/productInfo",
			    dataType: "json",
			    cache:false,
			    success: function (data) {
					console.log(data);
					$('#Di_select3').empty();
					let str = '';
					for(let i in data){
						str += '<tr>'
						str += '<td scope="row">'
						str += '<input type="radio" name="Pd_select"value="코드값">'
						str += '</td>'
						str += '<td>'+data[i].pdname+'</td>'
						str += '<td>'+data[i].memsize+'</td>'
						str += '<td>'+data[i].cpname+'</td>'
						str += '<td>'+data[i].pdprice+'</td>'
						str += '<td>'+data[i].grprice+'</td>'
						str += '</tr>'
					}
					$(str).appendTo('#Di_select3')
				}
			})
		})
	</script>
</body>

</html>
