<!DOCTYPE html>
<html lang="ko">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
      <header>
          <% include partials/header %>
      </header>
    역경매 페이지

      <footer>
          <% include partials/footer %>
      </footer>

  </body>
</html>
